Source: mafw-tracker-source
Section: misc
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 13.0.0), libglib2.0-dev, libmafw0-dev (>= 0.1),
               checkmore, libtracker-sparql-3.0-dev,
               libhildon-thumbnail-dev (>=3.0.17), libtotem-plparser-dev,
               maemo-system-services-dev
Standards-Version: 3.7.2

Package: mafw-tracker-source
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tracker-extract, tracker-miner-fs
Description: MAFW source based on tracker
 Tracker MAFW source.
