#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.

#export DH_VERBOSE=1

lcov := $(if $(filter lcov,$(DEB_BUILD_OPTIONS)),--enable-coverage,)

DEB_CONFIGURE_EXTRA_FLAGS = --enable-tests --prefix=/usr $(lcov)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -Werror -DGLIB_DISABLE_DEPRECATION_WARNINGS

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed
	
override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_install:
	dh_install
	dh_installxsession -u 'post 32'
